.banner {
  min-height: 463px;
  font-family: "CormorantGaramond", "Arial", sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: $white;
  background: rgba(114, 62, 2, 0.623) url('../img/index/main-banner-desktop.jpg') no-repeat 0 0 / cover;
  margin: 0 0 120px;
  @include retina {
    background: rgba(114, 62, 2, 0.623) url('../img/index/main-banner-desktop@2x.jpg') no-repeat 0 0 / cover;
  }
  @include tablet {
    background: rgba(114, 62, 2, 0.623) url('../img/index/main-banner-tablet.jpg') no-repeat 0 0 / cover;
    margin: 0 0 72px;
    @include retina {
      background: rgba(114, 62, 2, 0.623) url('../img/index/main-banner-tablet@2x.jpg') no-repeat 0 0 / cover;
    }
  }
  @include mobile {
    background: rgba(114, 62, 2, 0.623) url('../img/index/main-banner-mobile.jpg') no-repeat 0 0 / cover;
    margin: 0 0 62px;
    @include retina {
      background: rgba(114, 62, 2, 0.623) url('../img/index/main-banner-mobile@2x.jpg') no-repeat 0 0 / cover;
    }
  }
}

.banner h1 {
  font-size: 45px;
  line-height: 45.5px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 8px 0 0;
  margin: 0;
  @include mobile {
    font-size: 38px;
    line-height: 29px;
    padding: 13px 0 0;
  }
}

.banner span {
  font-size: 34px;
  line-height: 49.4px;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.01em;
  display: block;
  @include mobile {
    font-size: 32px;
  }
}
